body {
    background-color:#2F4F4F;
  }
   #container {
    background-color:#808080;
    padding: 14px;
    margin: 14px;
  }
   #cart-container {
    width: 100%;
    background-color: #8B0000;
    color:#808080;
    padding: 14px;
  }
  
  #newsletter-frequency {
    display: none;
  }
  
 
